.phone__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
}

.phone__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
}

.phone__title {
    width: 620px;
    color: var(--141-b-41, #141b41);
    font-family: "GT Eesti Pro Display";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 50px */
}

.phone__info-box {
    width: 524px;
}


.phone__info{
    color: var(--72727-e, #72727e);
    font-family: "GT Eesti Pro Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 350;
    line-height: 140%; /* 33.6px */
}

.phone__image-item{
    width: 1040px;
    height: 744px;
    display: inline-block;
    background-image: url("./images/phone.png");
    background-size: 1040px 744px;
    background-repeat: no-repeat;
    background-position: center;
}