// phone__section part started

.phone__section {
    padding-bottom: 117px;
}

.phone__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
}

.phone__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
}

.phone__title {
    width: 620px;
    color: var(--141-b-41, #141b41);
    font-family: "GT Eesti Pro Display";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 50px */
}

.phone__info-box {
    width: 524px;
}

.phone__info {
    color: var(--72727-e, #72727e);
    font-family: "GT Eesti Pro Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 350;
    line-height: 140%; /* 33.6px */
}

.phone__image-item {
    width: 500px;
    height: 460px;
    display: inline-block;
    background-image: url("./images/phone.png");
    background-size: 500px 460px;
    background-repeat: no-repeat;
    background-position: center;
}

// phone section part finished

// start__section part started
.start__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.start__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.start__item{
    margin-right: 105px;
}

.start__title {
    width: 273px;
    color: var(--141-b-41, #141b41);
    font-family: "GT Eesti Pro Display";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 44px */
}

.dowload__title {
    width: 285px;
    margin: 0 0 0 30px;
    color: var(--141-b-41, #141b41);
    font-family: "GT Eesti Pro Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 32.4px */
}

.dowload__info {
    width: 453px;
    margin: 0 0 0 30px;
    margin-bottom: 0;
    display: inline-block;
    color: var(--72727-e, #72727e);
    font-family: "GT Eesti Pro Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 350;
    line-height: 135%; /* 24.3px */
}

.dowload{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.dowload::before{
    width: 60px;
    height: 60px;
    display: inline-block;
    background-image: url("../images/dowload.svg");
    background-repeat: no-repeat;
    background-size: 60px 60px;
    background-position: center;
    content: "";
}
.dowload{
    margin-bottom: 60px ;
}
// start__section part finished
